
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

$bodyFont: 'Raleway', sans-serif;
$headerFont: 'Poiret One', cursive;

$orangeSoda: rgba(245, 93, 62, 1);
$medGrey: rgba(93, 115, 126, 1);
$kiwi: rgba(143, 234, 98, 1);
$darkGrey: rgba(58, 64, 90, 1);
$dimGrey: rgba(102, 107, 106, 1);
$clouds: #ecf0f1;


body {
  background-color: $darkGrey;
  color: $clouds;
  font-family: $bodyFont;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: $orangeSoda;
  font-family: $headerFont;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 150%;
}

.navbar-inverse {
  background-color: $darkGrey;
}

.navbar-nav,
.navbar-right {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    font-weight: bold;
   }

   li:hover {
     background-color: $orangeSoda;
     color: $darkGrey;
   }

  a {
    font-size: 150%;
    }
  a:hover,
  a:active {
    color: $darkGrey !important;
    }

  li.fa {
    margin-top: 5px;
    padding-right: 10px;
  }

}

.button {
  font-family: $headerFont;
  font-weight: bold;
}

.coloredBG {
  background-color: $dimGrey;
  border-radius: 100px;
  text-align: center;
}

.transparent {
  margin: 30px;
  background-color: #000;
  border: 1px solid #3a3a3a;
  opacity: 0.85;
  filter: alpha(opacity=85);
  /* For IE8 and earlier */
  border-radius: 5px;
}

//PARALLAX//
#intro {
  background: url(img/4.jpg) 50% 0 fixed;
  background-repeat: repeat;
  background-size: cover;
  height: auto;
  margin: 0 auto;
    width: 100%;
    position: relative;
    // box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}
#work {
  background: url(img/5.jpg) 50% 0 fixed;
  background-repeat: repeat;
  background-size: cover;
  height: auto;
  margin: 0 auto;
    width: 100%;
    position: relative;
    // box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}
#about {
  background: url(img/7.jpg) 50% 0 fixed;
  background-repeat: repeat;
  background-size: cover;
  height: auto;
  margin: 0 auto;
    width: 100%;
    position: relative;
    // box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
}



//TILT MENU//

#paper-back {
	width: 100%;
	height: 100vh;
	background-color: $darkGrey;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 200%;
	nav {
		padding: 120px 34px;
		a {
			display: block;
			margin-bottom: 25px;
			text-decoration: none;
			color: rgba($clouds, 0.7);
		}
	}
}

//prevents the scrolling when the menu is open
#paper-window {
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 2;

	&.tilt {
		overflow: hidden;
		pointer-events: none;
		#paper-front { transform: rotate(10deg) translateZ(0); }
	}
}

//this is what actually rotates
#paper-front {
	pointer-events: auto;
	position: relative;
	z-index: 3;
  background: url(img/4.jpg) 50% 0 fixed;
  background-repeat: no-repeat;
  background-size: cover;
	box-shadow: 0 0 20px rgba(black, 0.7);
	transform-origin: center 70%;
	transition: all 0.3s ease;
}

//actual content
#container {
	section {
		height: 600px;
		text-align: center;
		&:first-of-type {
			padding-top: 10vh;
			@media (max-width: 600px) {
				padding-top: 15vh;
			}
		}
		&:nth-of-type(2n) {
			background-color: $darkGrey;
		}
	}
}

.hamburger {
	position: fixed;
	z-index: 4;
	top: 30px;
	left: 30px;
	width: 45px;
	height: 34px;
	cursor: pointer;
	user-select: none;
	span {
		position: relative;

		&, &:before, &:after {
			display: block;
			width: 45px;
			height: 6px;
			background-color: $orangeSoda;
			border-radius: 2px;
		}

		&:before, &:after {
			content: '';
			position: absolute;
		}
		&:before { bottom: -14px; }
		&:after {	bottom: -28px; }

	}
}

.close {
	position: fixed;
	top: 30px;
	left: 30px;
	width: 45px;
	height: 34px;
	cursor: pointer;

	&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			width: 45px;
			height: 6px;
			top: 50%;
			background-color: white;
			border-radius: 2px;
		}
		&:before { transform: translateY(-50%) rotate(45deg); }
		&:after {	transform: translateY(-50%) rotate(-45deg); }
}
