@import "https://fonts.googleapis.com/css?family=Quicksand";
@font-face {
  font-family: "breathe";
  src: url("fonts/Breathe-Regular.woff") format("woff"); }
body {
  background-color: #0b3954;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  color: #a03095;
  font-family: "breathe", sans-serif;
  letter-spacing: 2px;
  margin: 0; }

h2 {
  color: white;
  font-family: "Quicksand", sans-serif; }

h3 {
  padding-bottom: 20px; }

h1:after {
  display: block;
  height: 2px;
  background-color: white;
  content: " ";
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; }

p {
  font-size: 150%; }

div.progress {
  height: 25px;
  border-radius: 20px; }

div.progress-bar {
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  background-color: #a03095; }

.btn {
  background-color: #a03095;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  margin: 10px; }
  .btn a {
    color: white; }

.button {
  font-family: "breathe", sans-serif;
  font-weight: bold; }

.fa-github-square,
.fa-twitter-square,
.fa-linkedin-square {
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.fa-github-square:hover {
  color: black; }

.fa-twitter-square:hover {
  color: #00aced; }

.fa-linkedin-square:hover {
  color: #0077b5; }

.logo {
  background-color: #0b3954; }

.transparent {
  margin: 30px;
  background-color: #000;
  border: 1px solid #3a3a3a;
  opacity: 0.85;
  filter: alpha(opacity=85);
  /* For IE8 and earlier */
  border-radius: 5px; }

#intro {
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 100px 0; }

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #intro {
    background-image: url("img/bg.png");
    background-size: contain;
    height: 50vh; } }
#work {
  background-color: #1D4C82;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 20px 0; }

#about {
  background-color: #0b3954;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 20px 0; }
  #about p {
    text-align: left;
    padding: 0 15px; }
  #about li {
    padding-left: 20px;
    text-align: left;
    font-size: 150%; }
  #about i {
    color: #a03095; }

section#contact {
  background-color: #1D4C82;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 20px 0; }
  section#contact a,
  section#contact p {
    text-align: center;
    font-size: 200%;
    color: white; }
  section#contact a:hover,
  section#contact a:visited,
  section#contact a:active,
  section#contact a:focus {
    text-decoration: none;
    font-weight: bold; }

#paper-back {
  width: 100%;
  height: 100vh;
  background-color: #0b3954;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 200%; }
  #paper-back nav {
    padding: 120px 34px; }
    #paper-back nav a {
      display: block;
      margin-bottom: 5px;
      text-decoration: none;
      color: white; }
    #paper-back nav a.navLink:hover {
      color: #a03095; }

#paper-window {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2; }
  #paper-window.tilt {
    overflow: hidden;
    pointer-events: none; }
    #paper-window.tilt #paper-front {
      transform: rotate(10deg) translateZ(0); }

#paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  transform-origin: center 70%;
  transition: all 0.3s ease; }

#container section {
  text-align: center; }
  #container section:first-of-type {
    padding-top: 5vh; }
    @media (max-width: 600px) {
      #container section:first-of-type {
        padding-top: 5vh; } }
  #container section:nth-of-type(2n) {
    background-color: #0b3954; }

.hamburger {
  position: fixed;
  z-index: 4;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  user-select: none; }
  .hamburger span {
    position: relative; }
    .hamburger span, .hamburger span:before, .hamburger span:after {
      display: block;
      width: 45px;
      height: 6px;
      background-color: #a03095;
      border-radius: 2px; }
    .hamburger span:before, .hamburger span:after {
      content: '';
      position: absolute; }
    .hamburger span:before {
      bottom: -14px; }
    .hamburger span:after {
      bottom: -28px; }

.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer; }
  .close:before, .close:after {
    content: '';
    position: absolute;
    display: block;
    width: 45px;
    height: 6px;
    top: 50%;
    background-color: white;
    border-radius: 2px; }
  .close:before {
    transform: translateY(-50%) rotate(45deg); }
  .close:after {
    transform: translateY(-50%) rotate(-45deg); }

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center; }

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #1D4C82;
  text-align: center;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  background-color: #0b3954;
  opacity: 0.75; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/*---------------*/
/***** Duke *****/
/*---------------*/
figure.effect-duke img,
figure.effect-duke p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-duke:hover img {
  opacity: 0.1;
  -webkit-transform: scale3d(2, 2, 1);
  transform: scale3d(2, 2, 1); }

figure.effect-duke h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

figure.effect-duke p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 30px;
  border: 2px solid #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%; }

figure.effect-duke:hover h2,
figure.effect-duke:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/* Media queries */
@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center; }

  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%; } }

/*# sourceMappingURL=kkd.css.map */
